NEXT_PUBLIC_SUPABASE_URL="https://vfrippvyalobsrvnpdfy.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmcmlwcHZ5YWxvYnNydm5wZGZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMjkxNjksImV4cCI6MjA5MTkwNTE2OX0.xgVtKKT_4TMssmT9xFPeroWBw1n3fPqNdkqSyzMeY6M"
